<header>
    <h2>Test your knowledge</h2>
    <p>select your preferences and start the Quiz🎉!</p>
</header>
<main class="quiz-container">
  <section class="quiz-options">
    <div class="option-group">
        <label for="category">Category:</label>
        <select id="category" class="quiz-select">
            <option value="">Any Category</option>
            <option value="general">General Knowledge</option>
            <option value="science">Science</option>
            <option value="history">History</option>
            <option value="geography">Geography</option>
            <option value="movies">Movies</option>
        </select>
    </div>
    <div class="option-group">
        <label for="difficulty">Difficulty:</label>
        <select id="difficulty" class="quiz-select">
            <option value="">Any Difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>
  </section>
  <button class="start-button">Start</button>
</main>